<nav >
    <ul >
        <li class="">
            <a id="game_hud_tab" href="#" data-toggle="tab" aria-expanded="false" style="color: #f6f6f6;
            background-color: #345498;">Game information</a>
        </li>
        <li class="">
            <a id="game_hud_shop_tab" onclick="loadMerchantStore()" href="#" data-toggle="tab" aria-expanded="false">Merchant Store</a>
        </li>
        <li class="">
            <a id="game_hud_deployment_commit_tab" href="#" data-toggle="tab" aria-expanded="false" >Deployment</a>
        </li>
        <li class="">
            <a id="game_hud_deployment_tab" href="#" data-toggle="tab" aria-expanded="false" style="">Deployment</a>
        </li>
        <li class="">
            <a id="game_hud_deployment_deploy_tab" href="#" data-toggle="tab" aria-expanded="false" >Deployment</a>
        </li>
    </ul>
    <div class="hudContainer" id="game_hud">
        {% include '../hud/game_hud.html' %}
    </div>
    <div class="hudContainer" id="game_hud_shop">
        {% include '../hud/shop/game_hud_shop.html' %}
    </div>
    <div class="hudContainer" id="game_hud_deploy_commit">
        {% include '../hud/game_hud_deploy_commit.html' %}
    </div>
    <div class="hudContainer" id="game_hud_deploy_deploy">
        {% include '../hud/game_hud_deploy_deploy.html' %}
    </div>
</nav>

<div id="gameModal" class="modalDialog">
    <div>
        <span id="gameModalBody"></span>
    </div>
</div>
