<nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav nav-tabs">
        <li class=""><a id="game_hud_tab" href="#" data-toggle="tab" aria-expanded="false"
                        style="color: #f6f6f6; background-color: #345498">Game information</a></li>
    </ul>
    <div class="container hudContainer" id="game_hud">
        {% include '../hud/game_hud.html' %}
    </div>
</nav>

<div id="gameModal" class="modalDialog">
    <div>
        <span id="gameModalBody"></span>
    </div>
</div>
