<div >
    <div >
        <div id="shop-canvas" style="display: inline-flex;">
            <div id="merchant-container">
                <div id="merchant_bio">
                    <div id="merchant_pic">
                        <img src="{{ merchant.image }}" id="merchant_image">
                        <p class="merchant_name">{{ merchant.name }}</p>
                    </div>
                    <div>
                        <a href="#" onclick="drawScrollableUpgradesCardDeck()"
                           class="btn btn-primary btn-block-width">Upgrade</a><br>
                        <a href="#" onclick="displayModal('{{ raceName }}', 'upgrades')"
                           class="btn btn-primary btn-block-width">Combat Cards</a><br>
                        <a href="#" onclick="displayModal('{{ raceName }}', 'bounties')"
                           class="btn btn-primary btn-block-width">Bounties</a><br>
                    </div>
                </div>

            </div>
            <div id="player_token_container">

                <div id="scrollable_card_deck">

                </div>
            </div>
        </div>
    </div>

</div>