<div class="panel panel-warning">
    <div class="panel-body">
        <div id="game_stats_scroll" style="overflow: scroll;height: 150px;">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge" id="territory_owned_hud">22</span>
                    Number of territories you currently occupy.
                </li>
                <li class="list-group-item">
                    <span class="badge">0 killed</span>
                    Progress towards your
                    <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">goal</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">45%</span>
                    Current progress of GeoEngineers
                </li>
                <li class="list-group-item">
                    <span class="badge">3</span>
                    Number of Guardians in play
                </li>
                <li class="list-group-item">
                    <span class="badge">3</span>
                    Number of Waybridges owned by the Settlers.
                </li>
            </ul>
        </div>
    </div>
</div>
