<div class="panel panel-warning">
    <div class="panel-body">
        <div id="game_stats_scroll" style="overflow: scroll;height: 150px;">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge" id="geoEngineers-harvest-count">Null</span>
                    Geo-Engineers harvest count
                    <span class="badge" id="geoEngineers-harvest-rate">Null</span>
                    Geo-Engineers harvest rate
                </li>
                <li class="list-group-item">
                    <span class="badge" id="settlers-harvest-count">Null</span>
                    Settlers harvest count
                    <span class="badge" id="settlers-harvest-rate">Null</span>
                    Settlers harvest rate
                </li>
                <li class="list-group-item">
                    <span class="badge" id="kingdomWatchers-harvest-count">Null</span>
                    Kingdom Watchers harvest count
                    <span class="badge" id="kingdomWatchers-harvest-rate">Null</span>
                    Kingdom Watchers harvest rate
                </li>
                <li class="list-group-item">
                    <span class="badge" id="periplaneta-harvest-count">Null</span>
                    Periplaneta harvest count
                    <span class="badge" id="periplaneta-harvest-rate">Null</span>
                    Periplaneta harvest rate
                </li>
                <li class="list-group-item">
                    <span class="badge" id="reduviidae-harvest-count">Null</span>
                    Reduviidae harvest count
                    <span class="badge" id="reduviidae-harvest-rate">Null</span>
                    Reduviidae harvest rate
                </li>
                <li class="list-group-item">
                    <span class="badge" id="guardians-harvest-count">Null</span>
                    Guardians harvest count
                    <span class="badge" id="guardians-harvest-rate">Null</span>
                    Guardians harvest rate
                </li>
            </ul>
        </div>
    </div>
</div>