<div class="panel panel-primary">
    <div class="panel-body">
        <div id="race_bio" style="width:150px;margin-right: 20px;float: left">
            <div id="player_pic">
                <img src="/img/leader_profiles/{{raceName}}.jpg" class="img-responsive" alt="Kingdom Watchers" width="150"
                     height="150">
            </div>
        </div>
        <div>
            <a href="#" onclick="displayModal('{{ raceName }}', 'history')" class="btn btn-primary" style="position: relative;width: 145px;">Race Bio</a>
        </div>
        <div>
            <a href="#" onclick="displayModal('{{ raceName }}', 'leaderBio')" class="btn btn-primary" style="position: relative;width: 145px;">Leader Info</a>
        </div>
        <div id="game_stats_player_display" style="float: right">
            <div id="army_strength_player_display">
                Current Army Strength
                <ul class="nav nav-pills">
                    <li><a href="#">Tanks <span class="badge" id="tank_player_display"></span></a></li>
                    <li><a href="#">Infantry <span class="badge" id="infantry_player_display"></span></a></li>
                    <li><a href="#">Artillery <span class="badge" id="ranged_player_display"></span></a></li>
                </ul>
            </div>
            <div id="game_progress_player_display">

            </div>
            <div id="resources_player_display">

            </div>
        </div>
    </div>
</div>