<div class="panel panel-primary">
    <div class="panel-body">
        <div id="race_bio" style="width:150px;margin-right: 20px;float: left">
            <div id="player_pic">
                <img src="/img/leader_profiles/{{raceName}}.jpg" class="img-responsive" alt="Kingdom Watchers" width="150"
                     height="150">
            </div>
        </div>
        <div>
            <a href="#" onclick="displayModal('{{ raceName }}', 'history')" class="btn btn-primary">Race Bio</a>
            <a href="#" onclick="displayModal('{{ raceName }}', 'leaderBio')" class="btn btn-primary">Leader Info</a>
            <i class="fa fa-empire fa-2x" id="harvest-point"></i>
        </div>
    </div>
</div>