<!doctype html>
<html>
{% include '../includes/inGameHead.html' %}
<body>
{% include '../includes/inGameHeader.html' %}
{% include '../includes/inGameHUD.html' %}
<div id="playerName" playerName="{{ username }}" ></div>
<div id="playerRace" playerRace="{{ raceName }}" ></div>
<div id="static_fields" style="visibility: hidden">
    <div id="weapons"></div>
</div>
<div id="shop-content-container" style="visibility: hidden">
    <table id="upgradeTable"
           border="1px solid black"
           cellpadding="5px"
           style="text-align: left; border-collapse: collapse; width: 100%; display: none;">
    </table>
</div>
</body>
</html>