<!doctype html>
<html>
{% include '../includes/inGameHead.html' %}
<body>
{% include '../includes/inGameHeader.html' %}
{% include '../includes/inGameHUD.html' %}
<div id="playerName" playerName="{{ username }}" ></div>
<div id="playerRace" playerRace="{{ raceName }}" ></div>
<div id="static_fields" style="visibility: hidden">
    <div id="weapons"></div>
</div>
<div id="shop-content-container" style="visibility: hidden">
    <table id="upgradeTable"
           border="1px solid black"
           cellpadding="5px"
           style="text-align: left; border-collapse: collapse; width: 100%">

        <!--<tr>-->
            <!--<th>Name</th>-->
            <!--<th>imageFolder</th>-->
            <!--<th>BASIC.modifier</th>-->
            <!--<th>BASIC.cost</th>-->
            <!--<th>REINFORCED.modifier</th>-->
            <!--<th>REINFORCED.cost</th>-->
            <!--<th>DECORATED.modifier</th>-->
            <!--<th>DECORATED.cost</th>-->
            <!--<th>MASTERFUL.modifier</th>-->
            <!--<th>MASTERFUL.cost</th>-->
            <!--<th>ELITE.modifier</th>-->
            <!--<th>ELITE.cost</th>-->
            <!--<th>number of upgrades</th>-->

        <!--</tr>-->
        <!--{% for upgrade in merchant.upgrades %}-->
        <!--<tr>-->
            <!--<td>{{ upgrade.name }}</td>-->
            <!--<td>{{ upgrade.imageFolder }}</td>-->
            <!--<td>{{ upgrade.grade.BASIC.modifier }}</td>-->
            <!--<td>{{ upgrade.grade.BASIC.cost }}</td>-->
            <!--<td>{{ upgrade.grade.REINFORCED.modifier }}</td>-->
            <!--<td>{{ upgrade.grade.REINFORCED.cost }}</td>-->
            <!--<td>{{ upgrade.grade.DECORATED.cost }}</td>-->
            <!--<td>{{ upgrade.grade.DECORATED.modifier }}</td>-->
            <!--<td>{{ upgrade.grade.MASTERFUL.cost }}</td>-->
            <!--<td>{{ upgrade.grade.MASTERFUL.modifier }}</td>-->
            <!--<td>{{ upgrade.grade.ELITE.cost }}</td>-->
            <!--<td>{{ upgrade.grade.ELITE.modifier }}</td>-->
            <!--<td>{{ upgrade.numberOfUpgrades }}</td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
    </table>
</div>
</body>
</html>